@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    -->
<div class="text">

    <p>De Strijker b.v. is een familiebedrijf dat sinds 1974 garagepoorten maakt en plaatst.</p>

    <p>Door onze jarenlange ervaring kunnen wij u met raad en daad bijstaan bij de keuze van uw nieuwe garagepoort.</p>

    <p>Aarzel niet ons te contacteren dan helpen wij u graag vrijblijvend verder!</p>



    <p>
        Werkplaats, toonzaal en bureel :	zoning Fabelta Noord :

    </p><div class="inspring">
        Rue de l’Atelier 31<br>

        1480 Tubize<br>

        Tel 0032 (2) 356 13 69<br>

        Fax 0032 (2) 361 10 14<br>

        info@destrijker.be
    </div>
    <p></p>


    <h2>Toonzaal - Werkplaats - Bureel</h2>

</div>




