@page
@{
}
<ul>
    <li>@Html.ActionLink(linkText: "Nederlands", actionName: "index", controllerName: "Language")</li>

    <li>@Html.ActionLink(linkText: "Français", actionName: "index", controllerName: "Language")</li>

</ul>
